@font-face {
  font-family: 'BEYNO';
  src: url("../fonts/BEYNO/BEYNO.otf") format("otf");
  src: url("../fonts/BEYNO/BEYNO.ttf") format("ttf");
  src: url("../fonts/lato/Lato-Heavy.ttf") format("ttf"); }
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 1em; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: -moz-linear-gradient(to top, #5a3999, #2bc0eb);
  background: -ms-linear-gradient(to top, #5a3999, #2bc0eb);
  background: -o-linear-gradient(to top, #5a3999, #2bc0eb);
  background: -webkit-linear-gradient(to top, #5a3999, #2bc0eb);
  background: linear-gradient(to top, #5a3999, #2bc0eb); }

#progress-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 3px;
  background: red;
  z-index: 100; }

.back-to-top {
  position: fixed;
  height: 35px;
  width: 35px;
  background: -moz-linear-gradient(to top, #5a3999, #2bc0eb);
  background: -ms-linear-gradient(to top, #5a3999, #2bc0eb);
  background: -o-linear-gradient(to top, #5a3999, #2bc0eb);
  background: -webkit-linear-gradient(to top, #5a3999, #2bc0eb);
  background: linear-gradient(to top, #5a3999, #2bc0eb);
  bottom: 40px;
  right: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #000;
  display: none;
  z-index: 100; }
  .back-to-top:before {
    position: absolute;
    content: '>';
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #000;
    left: 50%;
    margin-left: -7px; }

body {
  font-family: 'Lato', sans-serif;
  min-width: 320px;
  position: relative; }
  body header {
    background: #ffffff; }
    body header .container {
      max-width: 1170px;
      width: 100%; }
      body header .container .logo {
        font-family: 'BEYNO', sans-serif;
        font-size: 30px;
        line-height: 24px;
        letter-spacing: 1.2px;
        color: #503392;
        text-transform: uppercase;
        padding: 28px 0 20px 0; }
        body header .container .logo span {
          color: #009dda; }
      body header .container .nav .menu {
        width: 100%;
        padding: 24px 0 24px 0; }
        body header .container .nav .menu .menu-link {
          list-style: none;
          display: flex;
          justify-content: space-around;
          position: relative;
          margin-bottom: 0; }
          body header .container .nav .menu .menu-link .menu-link__list .products:hover ~ .menu-link-inner {
            display: flex;
            -webkit-transition: .2s all;
            -moz-transition: .2s all;
            -o-transition: .2s all;
            transition: .2s all; }
          body header .container .nav .menu .menu-link .menu-link__list .menu-link__list__btn {
            position: relative; }
            body header .container .nav .menu .menu-link .menu-link__list .menu-link__list__btn:before {
              content: '';
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              right: 0;
              background: #2c1d40;
              -webkit-transition: .4s all;
              -moz-transition: .4s all;
              -o-transition: .4s all;
              transition: .4s all; }
            body header .container .nav .menu .menu-link .menu-link__list .menu-link__list__btn:hover {
              cursor: pointer;
              color: #2c1d40; }
              body header .container .nav .menu .menu-link .menu-link__list .menu-link__list__btn:hover:before {
                width: 100%;
                left: 0; }
          body header .container .nav .menu .menu-link .menu-link-inner {
            position: absolute;
            width: 180px;
            top: 50px;
            background: #2c1d40;
            display: flex;
            flex-direction: column;
            padding: 30px 0 30px 30px; }
            body header .container .nav .menu .menu-link .menu-link-inner li:hover {
              -webkit-transform: scale(0.9);
              -moz-transform: scale(0.9);
              -ms-transform: scale(0.9);
              -o-transform: scale(0.9);
              transform: scale(0.9);
              -webkit-transition: .3s all;
              -moz-transition: .3s all;
              -o-transition: .3s all;
              transition: .3s all;
              border-bottom: 2px solid #000; }
            body header .container .nav .menu .menu-link .menu-link-inner li a {
              font-family: 'Lato', sans-serif;
              font-size: 14px;
              line-height: 36px;
              letter-spacing: 1.05px;
              color: #FDFDFD; }
            body header .container .nav .menu .menu-link .menu-link-inner .menu-link-inner-two {
              width: 180px;
              position: absolute;
              background: #2c1d40;
              left: 100%;
              top: 0;
              padding: 30px 0 30px 30px; }
              body header .container .nav .menu .menu-link .menu-link-inner .menu-link-inner-two li a {
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                line-height: 36px;
                letter-spacing: 1.05px;
                color: #fdfdfd; }
        body header .container .nav .menu li {
          display: inline-block;
          position: relative; }
          body header .container .nav .menu li a {
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.64px;
            color: #232323; }
      body header .container .pd-none {
        padding-left: 0; }
        body header .container .pd-none .search {
          margin-top: 21px; }
          body header .container .pd-none .search:after {
            content: '';
            position: absolute;
            background: url("../imgs/header/search.png") no-repeat;
            right: 29px;
            top: 29px;
            width: 13px;
            height: 13px; }
          body header .container .pd-none .search input {
            display: block;
            width: 100%;
            height: 31px;
            outline: none;
            border: none;
            background: #e8e4f1;
            text-indent: 5px;
            position: relative;
            -webkit-transition: .2s all;
            -moz-transition: .2s all;
            -o-transition: .2s all;
            transition: .2s all; }
            body header .container .pd-none .search input:hover {
              background: transparent;
              border: 1px solid #000;
              cursor: pointer;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px; }

.burger_menu {
  display: none;
  position: absolute;
  right: 30px;
  top: 25px; }
  .burger_menu .burger-menu-inner {
    background: #000;
    width: 20px;
    height: 3px;
    margin-top: 5px; }

.header-info {
  height: 100vh;
  background: url("../imgs/header/bg-header.jpg") no-repeat center center;
  background-size: cover; }
  .header-info .header-info-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 305px; }
    .header-info .header-info-title span {
      color: #fff200; }
  .header-info .header-info-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.64px;
    color: #ffffff; }

.choice {
  background: #fff;
  padding: 120px 0 114px 0; }
  .choice .choice-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #232323;
    text-align: center; }
    .choice .choice-title span {
      color: #009dda; }
  .choice .choice-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #999;
    font-weight: 400;
    margin: 25px auto 90px auto; }
  .choice .choice-inner {
    display: flex;
    justify-content: space-around; }
    .choice .choice-inner .choice-inner_title {
      max-width: 273px;
      width: 100%;
      border: 1px solid #ebebeb;
      -webkit-transition: .2s ease;
      -moz-transition: .2s ease;
      -ms-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease; }
      .choice .choice-inner .choice-inner_title:hover {
        border: 1px solid #000;
        cursor: pointer;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px; }
      .choice .choice-inner .choice-inner_title .choice-inner__title__img {
        display: flex;
        justify-content: center;
        height: 55px;
        margin-bottom: 50px; }
        .choice .choice-inner .choice-inner_title .choice-inner__title__img:hover {
          -webkit-transform: scale(0.9);
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -o-transform: scale(0.9);
          transform: scale(0.9);
          cursor: pointer; }
      .choice .choice-inner .choice-inner_title .choice-inner_title__title {
        font-family: 'Lato-Heavy', sans-serif;
        font-weight: bold;
        color: #232323;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 0.05em; }
        .choice .choice-inner .choice-inner_title .choice-inner_title__title .choice-inner_title__first {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: #503392;
          width: 100%; }
          .choice .choice-inner .choice-inner_title .choice-inner_title__title .choice-inner_title__first div {
            position: relative;
            top: -20px; }
            .choice .choice-inner .choice-inner_title .choice-inner_title__title .choice-inner_title__first div img {
              margin-right: 10px; }
      .choice .choice-inner .choice-inner_title .choice-inner_title__subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #373737; }

.our-products {
  background: url("../imgs/products/bg.jpg") center center no-repeat;
  background-size: cover; }
  .our-products .our-products-top {
    padding: 48px 0 48px 0;
    position: relative;
    background: -moz-linear-gradient(to right, #5a3999, #2bc0eb);
    background: -ms-linear-gradient(to right, #5a3999, #2bc0eb);
    background: -o-linear-gradient(to right, #5a3999, #2bc0eb);
    background: -webkit-linear-gradient(to right, #5a3999, #2bc0eb);
    background: linear-gradient(to right, #5a3999, #2bc0eb);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff; }
    .our-products .our-products-top:before {
      content: '';
      position: absolute;
      bottom: -25px;
      right: 50%;
      margin-right: -70px;
      width: 0;
      height: 0;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #3d7dd6; }
    .our-products .our-products-top span {
      color: #ffff00; }
  .our-products .our-products_inner {
    padding: 157px 0 65px 0; }
    .our-products .our-products_inner .our-products__inner__box {
      display: flex;
      margin-bottom: 105px; }
      .our-products .our-products_inner .our-products__inner__box .our-products__inner__box__left img {
        display: block;
        max-width: 145px;
        width: 100%;
        height: auto;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
        .our-products .our-products_inner .our-products__inner__box .our-products__inner__box__left img:hover {
          -webkit-transform: scale(0.9);
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -o-transform: scale(0.9);
          transform: scale(0.9); }
      .our-products .our-products_inner .our-products__inner__box .our-products__inner__box__right {
        margin-left: 25px; }
        .our-products .our-products_inner .our-products__inner__box .our-products__inner__box__right .our-products__inner__box__right__title {
          font-family: 'Lato-Heavy', sans-serif;
          font-size: 24px;
          left: 97px;
          letter-spacing: 0.742558px;
          text-transform: uppercase;
          color: #232323; }
        .our-products .our-products_inner .our-products__inner__box .our-products__inner__box__right .our-products__inner__box__right__subtitle {
          font-family: 'Lato', sans-serif;
          color: #503392;
          font-weight: normal;
          text-transform: capitalize;
          font-size: 16px;
          line-height: 24px; }
        .our-products .our-products_inner .our-products__inner__box .our-products__inner__box__right .our-products__inner__box__right__subtitle__two {
          font-family: 'Lato', sans-serif;
          color: #373737;
          font-weight: 300;
          font-size: 14px;
          line-height: 24px; }

.about .about-left .about-left_title {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #009dda;
  padding: 121px 0 24px 0; }
  .about .about-left .about-left_title span {
    color: #373737; }
.about .about-left .about-left_subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  letter-spacing: 0.56px; }
.about .about-left .about-left_subtitle_two {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.56px;
  color: #373737;
  padding: 55px 0 40px 0; }
.about .about-left .progress-wrap .title-progress {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 60px;
  letter-spacing: 0.65px;
  color: #444444;
  text-transform: uppercase;
  height: auto; }
.about .about-left .progress-wrap .progress {
  margin-bottom: 10px;
  height: 9px;
  border: 1px solid #dddddd;
  padding: 2px; }
  .about .about-left .progress-wrap .progress .progress-bar {
    width: 0;
    height: 3px;
    background: #009dda;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 60px;
    letter-spacing: 0.65px;
    color: #444444;
    position: relative; }
.about .about-right {
  padding: 193px 0 0 15px; }
  .about .about-right img:hover {
    -webkit-transform: scale(0.8);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }

.contact .contact-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #232323;
  margin: 110px 0 23px 0; }
  .contact .contact-title span {
    color: #009dda; }
.contact .contact-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.56px;
  color: #999999;
  text-align: center;
  margin-bottom: 80px; }
.contact .map {
  width: 100%; }
  .contact .map .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    display: flex;
    justify-content: center; }
    .contact .map .map-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      opacity: 0.6; }
    .contact .map .map-responsive .form {
      position: absolute;
      padding: 83px 67px 81px 67px;
      top: 98px;
      bottom: 101px;
      max-width: 945px;
      width: 100%;
      display: flex;
      background: rgba(26, 26, 26, 0.53); }
      .contact .map .map-responsive .form .form-inner {
        position: relative;
        max-width: 493px;
        width: 100%; }
        .contact .map .map-responsive .form .form-inner form {
          display: flex;
          flex-direction: column; }
          .contact .map .map-responsive .form .form-inner form .form-inner_top {
            display: flex;
            justify-content: space-between; }
            .contact .map .map-responsive .form .form-inner form .form-inner_top input {
              font-family: 'Lato', sans-serif;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #B7B7B7;
              display: block;
              width: 100%;
              text-indent: 20px;
              height: 34px;
              background: transparent;
              outline: none;
              border: 2px solid #979797;
              -webkit-transition: all .4s;
              -moz-transition: all .4s;
              -o-transition: all .4s;
              transition: all .4s; }
              .contact .map .map-responsive .form .form-inner form .form-inner_top input:focus {
                border: 1px solid #000;
                cursor: pointer;
                background: #ffffff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px; }
              .contact .map .map-responsive .form .form-inner form .form-inner_top input:first-child {
                margin-right: 5px; }
              .contact .map .map-responsive .form .form-inner form .form-inner_top input:last-child {
                margin-left: 5px; }
          .contact .map .map-responsive .form .form-inner form .form-inner_middle {
            margin: 11px 0 11px 0; }
            .contact .map .map-responsive .form .form-inner form .form-inner_middle input {
              font-family: 'Lato', sans-serif;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #B7B7B7;
              display: block;
              width: 100%;
              text-indent: 20px;
              background: transparent;
              outline: none;
              border: 2px solid #979797;
              height: 145px;
              -webkit-transition: all .4s;
              -moz-transition: all .4s;
              -o-transition: all .4s;
              transition: all .4s; }
              .contact .map .map-responsive .form .form-inner form .form-inner_middle input:focus {
                border: 1px solid #000;
                cursor: pointer;
                background: #ffffff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px; }
          .contact .map .map-responsive .form .form-inner form .form-inner_bottom {
            display: flex;
            justify-content: space-between; }
            .contact .map .map-responsive .form .form-inner form .form-inner_bottom p {
              font-family: 'Lato', sans-serif;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #B7B7B7;
              padding-left: 34px;
              position: relative; }
              .contact .map .map-responsive .form .form-inner form .form-inner_bottom p:before {
                content: '';
                position: absolute;
                height: 21px;
                width: 21px;
                border: 1px solid #9b9b9b;
                left: 0; }
            .contact .map .map-responsive .form .form-inner form .form-inner_bottom div:last-child button {
              height: 50px;
              width: 120px;
              background: #ffff00;
              border: none;
              font-family: 'Lato', sans-serif;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #373737;
              -webkit-transition: all .5s;
              -moz-transition: all .5s;
              -o-transition: all .5s;
              transition: all .5s; }
              .contact .map .map-responsive .form .form-inner form .form-inner_bottom div:last-child button:hover {
                cursor: pointer;
                background: transparent;
                border: 2px solid #ffff00;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                color: #ffff00; }
      .contact .map .map-responsive .form .about-us {
        margin-left: 97px; }
        .contact .map .map-responsive .form .about-us .street, .contact .map .map-responsive .form .about-us .number, .contact .map .map-responsive .form .about-us .email {
          font-family: 'Lato', sans-serif;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #F3F3F3; }
        .contact .map .map-responsive .form .about-us .number {
          margin: 30px 0 30px 0; }

footer {
  background: #1a1a1a; }
  footer .footer .company {
    padding: 12px 0 12px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #7A7A7A; }
  footer .footer .social-icon {
    padding: 20px 15px 20px 0;
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    footer .footer .social-icon img:not(last-child) {
      padding-right: 24px; }
    footer .footer .social-icon img:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }

/*# sourceMappingURL=style.css.map */
